# ========================
# Django и основные пакеты
# ========================
Django==5.2.2
gunicorn==23.0.0
whitenoise==6.6.0          # Для статических файлов (Render)
dj-database-url==2.1.0     # Поддержка подключения к БД через URL (Render)
python-dotenv==1.0.0       # Работа с .env
python-decouple==3.8       # Альтернатива dotenv

# ========================
# Аутентификация и авторизация
# ========================
django-allauth==0.63.3     # Google/соц. авторизация
social-auth-app-django==5.4.1

# ========================
# Научные и графические библиотеки
# ========================
numpy==2.2.4
matplotlib==3.10.1

# ========================
# Инструменты разработки
# ========================
pylint-django==2.6.1
Sphinx==7.2.6

# ========================
# Cloudinary (хранение медиа)
# ========================
cloudinary==1.41.0
django-cloudinary-storage==0.3.0

# ========================
# Метрики и мониторинг
# ========================
django-prometheus==2.3.1   # Мониторинг и метрики (Prometheus)

# ========================
# Поддержка PostgreSQL
# ========================
psycopg2-binary==2.9.9
dnspython>=2.6.1
