# ========================
# Django и основные пакеты
# ========================
Django==5.2.2
gunicorn==23.0.0

# ========================
# Научные и графические библиотеки
# ========================
numpy==2.2.4
matplotlib==3.10.1

# ========================
# Инструменты разработки
# ========================
pylint-django==2.6.1
Sphinx==7.2.6

# ========================
# Cloudinary (хранение медиа)
# ========================
cloudinary==1.41.0
django-cloudinary-storage==0.3.0

# ========================
# Поддержка PostgreSQL
# ========================
#psycopg2-binary==2.9.9
